Python Basic Operators:-

1. Arithmetic Operators

In [4]:
# 1. Arithmetic Operators

x = 5
y = 2

print(x+y)  # Addition
print(x-y)  # Subtraction
print(x*y)  # Multiplication
print(x/y)  # Division
print(x//y)  # Floor Division for integer value
print(x%y)   # Modulus
print(x**y)  #Exponential

7
3
10
2.5
2
1
25

2. Assignment Operators

In [11]:
# 2. Assignment Operators

a = 5 
a += 4  # a = a + 4

b = 8
b -= 4  # b = b - 4

c = 4
c *= 6  # c = c * 6

d = 10
d /= 2  # d = d / 2

print(a)
print(b)
print(c)
print(d)

9
4
24
5.0

3. Comparison Operators

In [15]:
x = 8 
y = 16

print(x==y)
print(x != y)
print(x > y)
print(x < y)
print(x <= y)
print(x >= y)

False
True
False
True
True
False