Data Types in Python

In [1]:
# Integer

a = 10

print(a)
type(a)

10

int

In [2]:
# String

name = 'Sandeep Rawat'  # enclose in single quotes or double qoutes

print(name)
type(name)

Sandeep Rawat

str

In [3]:
# Float

b = 12.63

print(b)
type(b)

12.63

float

In [4]:
# Complex

x = 8j + 2j

print(x)
type(x)

10j

complex

In [6]:
# Boolean

a = True
b = False

print(a)
type(a)

True

bool

Converting data type to another

In [7]:
# float to integer

a = 25.36  # float

b = int(a)
print(b)  # convert a to integer
type(b)

25

int

In [8]:
# integer to float

b = 25  # int

a = float(b)  # convert b to float
print(a)
type(a)

25.0

float

In [9]:
# integer to string

a = 10

b = str(a)
print(b)
type(b)

10

str