Special Data Types:-

1. List

In [ ]:
# 1. List

list_1 = [2,4,2,5,10]  # list should be enclosed in square brackets
list_2 = [2,8,9,'Ravi','Rahul','Sandeep']

print(list_1)
print(list_2)
print(list_1[2])  # access a particular element from a list
print(list_2[2:8]) 
list_1.append('Rohit')  # add a particular element to a list
print(list_1)
del list_1[2]  # delete a particular element from a list
print(list_1)
list_3 = list_1 + list_2  # add two list
print(list_3)
print(len(list_3))  # print the no. of the element from a list
list_4 = [7]*2  # get multiple element in the list
print(list_4)
type(list_2)

[2, 4, 2, 5, 10]
[2, 8, 9, 'Ravi', 'Rahul', 'Sandeep']
2
[9, 'Ravi', 'Rahul', 'Sandeep']
[2, 4, 2, 5, 10, 'Rohit']
[2, 4, 5, 10, 'Rohit']
[2, 4, 5, 10, 'Rohit', 2, 8, 9, 'Ravi', 'Rahul', 'Sandeep']
11
[7, 7]

list

2. Tuple

In [1]:
empty_tuple = ()  # tuples should be enclosed in parenthesis
print(empty_tuple)

()

In [2]:
tuple_1 = (5,8,7,6,'hello')
print(tuple_1)
type(tuple_1)

(5, 8, 7, 6, 'hello')

tuple

In [3]:
mylist = (4,8,6,9,'Hey')  #convert mylist into tuple
tup = tuple(mylist)
print(tup)
type(tup)

(4, 8, 6, 9, 'Hey')

tuple

In [7]:
tuple_1 = ('ravi','rahul','rohit','sandeep','amit')
print(len(tuple_1))
type(tuple_1)

5

tuple

3. Set

In [10]:
mylist = [5,8,1,0,3,3,9.5,'monday','friday']  # set removed duplicate elements and also arrenge elements in ascending order
myset = set(mylist)
print(myset)   
type(myset)

{0, 1, 3, 5, 8, 9.5, 'monday', 'friday'}

set

In [11]:
set_1 = {1,5,8,9,2,7}  # set should be enclosed in curly braces
set_2 = {2,8,7,9,6}  #  set does not have index

union_set = set_1|set_2
intersection_set = set_1&set_2
print(union_set)
print(intersection_set)

{1, 2, 5, 6, 7, 8, 9}
{8, 9, 2, 7}

4. Dictionary

In [19]:
info = {'name':'rahul','age':'21','work':'softwate developer'}
print(info)
info['name'] = 'Sandeep'  # change name 
print(info)
print(info['age'])
type(info)

{'name': 'rahul', 'age': '21', 'work': 'softwate developer'}
{'name': 'Sandeep', 'age': '21', 'work': 'softwate developer'}
21

dict