Pandas DataFrame

In [4]:
import pandas as pd

df = pd.DataFrame()
print(df)
type(df)

Empty DataFrame
Columns: []
Index: []

pandas.core.frame.DataFrame

In [5]:
list = ['Ravi','Rahul','Praveen','Sandeep']

df = pd.DataFrame(list)
print(df)
type(df)

         0
0     Ravi
1    Rahul
2  Praveen
3  Sandeep

pandas.core.frame.DataFrame

Iris Dataset

In [7]:
# Loading csv file to pandas dataframe
import pandas as pd

df = pd.read_csv('/Iris.csv')
df.head()  # first 5 rows in the dataframe

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
df.tail()  # last 5 rows in the dataframe

      Id  SepalLengthCm  ...  PetalWidthCm         Species
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[5 rows x 6 columns]

In [11]:
# drop a Id column
df_id_dropped = df.drop(['Id'],axis=1)
print(df_id_dropped)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [12]:
# drop a row
iris = df_id_dropped.drop([149],axis=0)  # axis = 0 represent row and 1 represent column
print(iris)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
144            6.7           3.3            5.7           2.5  Iris-virginica
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica

[149 rows x 5 columns]

In [14]:
print(len(iris))

149

In [15]:
print(iris.shape)

(149, 5)

In [16]:
iris.loc[2]  # get a specific datapoint

SepalLengthCm            4.7
SepalWidthCm             3.2
PetalLengthCm            1.3
PetalWidthCm             0.2
Species          Iris-setosa
Name: 2, dtype: object

In [17]:
iris.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     149.000000    149.000000     149.000000    149.000000
mean        5.842953      3.054362       3.749664      1.194631
std         0.830846      0.435034       1.766911      0.764127
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.300000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [18]:
iris.groupby('Species').mean()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa           5.006000      3.418000       1.464000      0.244000
Iris-versicolor       5.936000      2.770000       4.260000      1.326000
Iris-virginica        6.602041      2.973469       5.561224      2.030612